<div class="container-nav">
<div class="botoes-sup">
  <button class="upload-arquivos" routerLink="upload-arquivos"><fa-icon [icon]="faUpload" class="icone-upload"></fa-icon><a class="texto">Upload</a></button>
  <button class="botao-icone"><a><fa-icon [icon]="faArrowLeft" class="icone"></fa-icon></a></button>
</div>

<div class="menu-chat">
<div class="divisor"></div>

<div class="usuario">
  <div class="icone-user">
    <fa-icon [icon]="faUser" class="icon-user"></fa-icon>
  </div>
 <div class="nome-usuario">
  <p>User</p>
 </div>
 <div class="menu">
  <a>
  <fa-icon [icon]="faEllipsis"></fa-icon>
</a>
 </div>

</div>
</div>
</div>

